//colors
$off-black    : #312A29;
$dark-orange  : #4D3633;
$orange       : #B77870;
$simple-orange: #C28C84;
$light-orange : #ff1d00;

//spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;